*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
app/build/
app/release/
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
*.apk
*.aab
test
docs/*
!docs/PROJECT_STRUCTURE.md
test_cqust_full.js
*.jks
*.keystore
keystore.properties
